[submodule "ButtonDriver/single_button_example/components/data_control"]
	path = ButtonDriver/single_button_example/components/data_control
	url = https://github.com/myles-parfeniuk/data_control.git
[submodule "ButtonDriver/single_button_example/components/button_driver"]
	path = ButtonDriver/single_button_example/components/button_driver
	url = https://github.com/myles-parfeniuk/button_driver.git
[submodule "ButtonDriver/pause_button_example/components/data_control"]
	path = ButtonDriver/pause_button_example/components/data_control
	url = https://github.com/myles-parfeniuk/data_control.git
[submodule "ButtonDriver/pause_button_example/components/button_driver"]
	path = ButtonDriver/pause_button_example/components/button_driver
	url = https://github.com/myles-parfeniuk/button_driver.git
[submodule "ButtonDriver/pause_button_example/components/task_wrapper"]
	path = ButtonDriver/pause_button_example/components/task_wrapper
	url = https://github.com/myles-parfeniuk/task_wrapper.git
[submodule "ButtonDriver/single_button_example/components/task_wrapper"]
	path = ButtonDriver/single_button_example/components/task_wrapper
	url = https://github.com/myles-parfeniuk/task_wrapper.git
